.cardsContainer{
    display:flex;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: center;
}
.cardsContainer__card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    max-width: 400px;
    height: auto;
    padding: 20px 10px;
    margin: 10px;
}
.cardsContainer__card__cardText{
    flex:1;
    color:var(--white);
}
.cardsContainer__card__cardText__title{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.cardsContainer__card__cardText__description{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}
.cardsContainer.infoLinksArea{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}
.cardsContainer__card .cardsContainer__card__infoText, .cardsContainer__card .cardsContainer__card__infoText__description{
    text-align: center;
}
.cardsContainer__card .cardsContainer__card__infoText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.cardsContainer__card .cardsContainer__card__infoText__title{
    margin-block: 15px;
    font-size: 2rem;
}
.cardsContainer__card .cardsContainer__card__infoText__description{
    display:flex;
    font-size: 1.6rem;
    color: var(--gray);
}
.cardsContainer__card.infoLinks{
    justify-content: center;
    width: 336px;
    height: 413px;
}