.cardsArea{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    max-width: 400px;
    height: auto;
    padding: 20px 10px;
    margin: 10px;
}
.Card img {
    width: 70px;
    height: 60px;
    margin: 0 10px;
}
.cardText{
    flex:1;
    color:var(--white);
}
.cardTitle{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.cardDescription{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}
.cardsArea.infoLinksArea{
    flex-wrap: nowrap;
}
.Card .infoText, .Card .infoDescription{
    text-align: center;
}
.Card .infoText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card .infoTitle{
    margin-block: 15px;
    font-size: 1.4rem;
}
.Card .infoDescription{
    font-size: 1rem;
    color: var(--gray);
}
.Card.infoLinks{
    justify-content: center;
}